body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    179.87deg,
    rgba(20, 20, 20, 0.95) -9.18%,
    #1f4168 77.16%,
    #272727 110.07%,
    #1f4168 124.58%
  );
}
