@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
.navbackground {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  top: 0rem;
  background: rgba(28, 42, 58, 0.37);
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}

.nav-center {
  height: 2rem;
  width: 8%;
  margin-top: 12px;
  margin-left: 1rem;
}
.nav-left {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 8%;
  margin-top: 12px;
}

.linkedinlogo {
  height: 2rem;
}

.githublogo {
  height: 2rem;
}
