@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");
.Project-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* heading  and describtion */
.heading4 {
  align-self: flex-start;
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  height: fit-content;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.development-description {
  width: 329px;
  height: fit-content;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.3rem;
  color: white;
  line-height: 1.3rem;
}
/* for the projects base code  */

.project-broad {
  width: 100%;
}
.project {
  width: 100%;
  height: -moz-fit-content;
  height: 8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 11px;
  background: rgba(54, 58, 72, 1);
}
.project2 {
  width: 100%;
  height: -moz-fit-content;
  height: 8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  border-radius: 11px;
  background: rgba(54, 58, 72, 1);
}
.project-title {
  align-self: center;
  color: #eeeeee;
  order: 2;
}
.project-title2 {
  align-self: center;
  color: #eeeeee;
  order: 2;
}
.mindPassge {
  width: auto;
  height: 11rem;

  margin-top: -1rem;
  margin-bottom: 8px;
}
/* tag */
.project-tag {
  opacity: 0.7;
  color: #eee;
  order: 1;
}
.project-tag2 {
  opacity: 0.7;
  color: #eee;
  order: 1;
}
/* Project links */
.project-links {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  margin-top: -1rem;
  width: 225px;
  height: fit-content;
  cursor: pointer;
}
.plink1 {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
}
.compassRose-hover {
  width: auto;
  height: 2rem;
}
.p-link1 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-left: 6px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #d67112;
}
.dp-link1 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-left: -14px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #d67112;
}

.plink2 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #003844;
}
.githublogo-hover {
  width: auto;
  height: 2rem;
}
.p-link-2 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-left: 0px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: #d67112;
  font-size: 13px;
}
.dp-link-2 {
  margin: 0;
  padding: 0;
  width: fit-content;
  margin-left: -17px;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  color: #d67112;
  font-size: 13px;
}
.plink3 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #003844;
}
.info-btn {
  width: auto;
  height: 2rem;
}
.p-link-3 {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-family: "Lato", sans-serif;
  color: #d67112;
  font-size: 13px;
  margin-left: 6px;
  margin-top: 8px;
}
.dp-link-3 {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-family: "Lato", sans-serif;
  color: #d67112;
  font-size: 13px;
  margin-left: 6px;
  margin-top: 8px;
}
/* project description */
.project-des {
  width: 261px;
  font-family: "Lato", sans-serif;
  line-height: 1.3rem;
  font-size: 13px;
  color: #003844;
  margin-top: 0.5rem;
}
.project-des2 {
  width: 261px;
  font-family: "Lato", sans-serif;
  line-height: 1.3rem;
  font-size: 13px;
  color: #003844;
  margin-top: 0.5rem;
}
/* Modal */
.Modal {
  height: 75vh;
  overflow-y: auto;
  position: fixed;
  bottom: -150vh;
  background: linear-gradient(180.75deg, #003844 42.03%, #27292c 139.12%);
  width: 78%;
  left: 32px;
  padding: 0 12px 12px;
  transition: bottom 0.3s ease-out;
  z-index: 10;
  overflow-y: initial;
}
.modal-dialog {
  overflow-y: scroll;
  max-height: 85%;
  margin-top: 25px;
  margin-bottom: 50px;
}
.modal-title {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
  color: #eee;
}
.modal-header {
  border-bottom: 2px dashed #eee;
}
.Close {
  display: inline-block;
  border: none;
  position: relative;
  top: -2.8rem;
  left: 16.5rem;
  background: none;

  color: #eee;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-points {
  width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
}
.project-points1 {
  list-style-type: square;
  margin-left: -2rem;
}
.p1 {
  color: #eee;
  margin-top: -13rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.p2 {
  color: #eee;
  margin-bottom: 1rem;
  width: 15rem;
  list-style-type: square;
  margin-left: 1rem;
}
.p3 {
  color: #eee;
  margin-bottom: 1rem;
  width: 15rem;
  list-style-type: square;
  margin-left: 1rem;
}
.p4 {
  color: #eee;
  margin-bottom: 1rem;
  width: 15rem;
  list-style-type: square;
  margin-left: 1rem;
}
.techheading {
  margin-left: 2rem;
  margin-bottom: -1rem;
  margin-top: 2rem;
  font-size: 2.2rem;
  color: #eee;
  display: flex;
}
.side-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 6rem;
  margin-top: 2rem;
  margin-left: 12rem;
  height: 13rem;
}
.tech-logo-1 {
  height: 3rem;
}
.tech-logo-2 {
  height: 3rem;
}
.tech-logo-3 {
  height: 3rem;
}
.tech-logo-4 {
  height: 3rem;
}
.Modal.Show {
  overflow-y: initial;
  bottom: 0;
  border-radius: 6px;
}
.Overlay {
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

.Overlay.Show {
  display: block;
}
@media only screen and (min-device-width: 576px) {
  .development-description {
    width: 30rem;
    margin-left: 0rem;
  }
  .heading4 {
    margin-left: 47px;
  }
  .Modal.Show {
    margin-left: 1rem;
  }
  .project-points {
    height: 10rem;
  }
  .side-images {
    margin-left: 20rem;
  }
  .p1 {
    margin-top: -14rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    width: 16rem;
  }
  .p2 {
    width: 16rem;
  }
  .p3 {
    width: 16rem;
  }
  .p4 {
    width: 16rem;
  }
  .techheading {
    justify-content: center;
  }
  .tech-logo-1 {
    height: 5rem;
    margin-bottom: 1rem;
  }
  .tech-logo-2 {
    height: 5rem;
    margin-bottom: 1rem;
  }
  .tech-logo-3 {
    height: 5rem;
    margin-bottom: 1rem;
  }
  .tech-logo-4 {
    height: 5rem;
    margin-bottom: 1rem;
  }
  .Close {
    left: 27rem;
  }
}
@media only screen and (min-device-width: 768px) {
  .development-description {
    font-size: 14px;
    width: 43rem;
  }
  .project-broad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .Modal.Show {
    margin-left: 2.5rem;
  }
  .side-images {
    margin-left: 29rem;
    height: 17rem;
    margin-top: 3rem;
  }
  .project-points {
    height: 0rem;
  }
  .project-points1 {
    margin-left: 0rem;
  }
  .p1 {
    margin-top: -18rem;
    width: 21rem;
  }
  .p2 {
    width: 21rem;
    margin-bottom: 2rem;
  }
  .p3 {
    width: 21rem;
    margin-bottom: 2rem;
  }
  .p4 {
    width: 21rem;
    margin-bottom: 2rem;
  }
  .techheading {
    justify-content: center;
  }
  .Close {
    left: 36rem;
  }
}
@media only screen and (min-width: 992px) {
  .development-description {
    width: 57rem;
    margin-bottom: 5rem;
  }
  .project {
    margin-left: 2rem;
  }
  .project2 {
    margin-left: 2rem;
  }
  .heading4 {
    font-size: 3.5rem;
  }
  .Modal {
    width: 70%;
  }
  .Modal.Show {
    margin-left: 7.5rem;
  }
  .p1 {
    margin-top: -18rem;
    width: 25rem;
  }
  .p2 {
    width: 25rem;
  }
  .p3 {
    width: 25rem;
  }
  .p4 {
    width: 25rem;
  }
  .side-images {
    margin-left: 35rem;
    margin-top: 4rem;
  }
  .Close {
    left: 41rem;
  }
}

@media only screen and (min-width: 1200px) {
  .heading4 {
    margin-left: 80px;
  }
  .project {
    margin-left: 7rem;
  }
  .project2 {
    margin-left: 1rem;
  }
  .development-description {
    width: 65rem;
    font-size: 16px;
    line-height: 1.5rem;
  }
  .Modal.Show {
    margin-left: 12rem;
  }
  .p1 {
    margin-top: -17rem;
    width: 35rem;
  }
  .p2 {
    width: 35rem;
  }
  .p3 {
    width: 35rem;
  }
  .p4 {
    width: 35rem;
  }
  .side-images {
    margin-left: 46rem;
  }
  .Close {
    left: 50rem;
  }
}
@media only screen and (min-width: 1400px) {
  .project {
    margin-left: 1rem;
  }
  .development-description {
    width: 74rem;
    margin-left: 0rem;
  }
  .heading4 {
    margin-left: 109px;
  }
  .Modal.Show {
    margin-left: 11rem;
    width: 57%;
    left: 109px;
  }
  .project-points1 {
    margin-left: 1rem;
  }

  .side-images {
    margin-left: 42rem;
  }
  .Close {
    left: 46rem;
  }
}
@media only screen and (min-width: 1600px) {
  .heading4 {
    margin-left: 13.1rem;
  }
  .Modal.Show {
    margin-left: 12.7rem;
  }
  .p1 {
    margin-top: -17rem;
    width: 40rem;
  }
  .p2 {
    width: 40rem;
  }
  .p3 {
    width: 40rem;
  }
  .p4 {
    width: 40rem;
  }
  .side-images {
    margin-left: 48rem;
  }

  .Close {
    left: 53rem;
  }
}
